<template>
  <div class="form w-100 pa-2">
    <h2>{{ data.content }} {{ thing }}</h2>
    <component
      v-for="item of data.ui"
      :key="item.id"
      :is="widgets[item.widget]"
      :data="item"
      class="mt-2"
    ></component>
  </div>
</template>

<script setup>
import AButton from "@/components/widgets/AButton.vue";
import ATextInput from "@/components/widgets/ATextInput.vue";

const widgets = {
  button: AButton,
  "text-input": ATextInput,
};
import { defineProps } from "vue";

const props = defineProps(["data"]);
const thing = props.data.thing;

// const res = await fetch(
//   `${import.meta.env.VITE_API_URL}/things?thing=${thing}`
// );
// const data = await res.json();
// items.value = data;
</script>

<style scoped>
.form {
  background-color: #f3f3f3;
  border-radius: 5px;
}
</style>
