<template>
  <v-card class="w-100 pa-2">
    <v-card-title>{{ data.displayname }}</v-card-title>

    <v-card-text>
      <div>
        <p>Dataset: {{ dataset.displayname }}</p>
        <p>Columns:</p>
        <ul class="ml-6">
          <li v-for="col of schema.columns" :key="col">
            {{ col }}
            <!-- <pre>{{ dataset.columns[key] }}</pre> -->
          </li>
        </ul>
      </div>

      <v-list class="mt-6">
        <v-list-item
          v-for="item of items"
          :key="item.id"
          variant="tonal"
          class="mb-2"
          :rounded="true"
        >
          <v-list-item-title class="d-flex justify-space-between">
            <component
              v-for="(col, id) in schema.columns"
              :key="col"
              :is="$resolveComponent(schema.widgets[id])"
              :data="{ [componentMap[id]]: item.data[col] }"
            ></component>
          </v-list-item-title>
        </v-list-item>
      </v-list>
    </v-card-text>
  </v-card>
</template>

<script setup>
import { defineProps, ref } from "vue";
import { useAppStore } from "@/store/app";
const appStore = useAppStore();

const componentMap = ["done", "content"];

/*
 * Table
 * - displayname
 * - dataset
 *  - schema
 *    - cols
 *    - widgets
 *   ---- items
 */
const dataset = ref({});
const items = ref([]);
const schema = ref({});

const { data } = defineProps(["data"]);

async function loadData() {
  dataset.value = await appStore.getAThingById(data.dataset);
  schema.value = {
    columns: Object.keys(dataset.value.schema),
    widgets: Object.values(dataset.value.schema),
  };
  items.value = await appStore.getThingsBelongingToId(data.dataset);
}

loadData();
</script>
