<template>
  <div>
    <v-text-field
      :label="data.label"
      v-model="content"
      variant="outlined"
      density="compact"
    ></v-text-field>
  </div>
</template>

<script setup>
import { defineProps, ref } from "vue";
const content = ref("");

defineProps(["data"]);
</script>
