<template>
  <div class="ma-8 d-flex flex-column align-start" style="gap: 2em">
    <h2 class="text-h2">{{ appStore.activePage?.displayname }}</h2>
    <component
      v-for="item of appStore.activePageUi"
      :key="item.id"
      :is="$resolveComponent(item.widget)"
      :data="item"
    ></component>
  </div>
</template>

<script setup>
import { onMounted } from "vue";
import { useRoute } from "vue-router";

import { useAppStore } from "@/store/app";
const appStore = useAppStore();

const route = useRoute();
import { watch } from "vue";
watch(route, async () => {
  appStore.loadActivePage(route.params.id);
  appStore.loadActivePageUi(route.params.id);
});

onMounted(async () => {
  appStore.loadActivePage(route.params.id);
  appStore.loadActivePageUi(route.params.id);
});
</script>
