<template>
  <v-navigation-drawer v-model="drawer" permanent expand-on-hover>
    <v-list density="compact" nav :opened="['Pages', 'Datasets']">
      <v-list-group value="Pages">
        <template v-slot:activator="{ props }">
          <v-list-item
            v-bind="props"
            prepend-icon="mdi-file"
            title="Pages"
          ></v-list-item>
        </template>

        <v-list-item
          v-for="page of appStore.pages"
          :key="page.id"
          :title="page.displayname"
          :to="`/page/${page.id}`"
        ></v-list-item>
      </v-list-group>

      <v-divider />

      <v-list-group value="Datasets">
        <template v-slot:activator="{ props }">
          <v-list-item
            v-bind="props"
            prepend-icon="mdi-database"
            title="Datasets"
          ></v-list-item>
        </template>

        <v-list-item
          v-for="dataset of appStore.datasets"
          :key="dataset.id"
          :title="dataset.displayname"
          :to="`/dataset/${dataset.id}`"
        ></v-list-item>
      </v-list-group>
    </v-list>
  </v-navigation-drawer>
</template>

<script setup>
import { ref } from "vue";
import { useAppStore } from "@/store/app";
const appStore = useAppStore();

const drawer = ref(true);

async function loadData() {
  await appStore.loadPages();
  await appStore.loadDatasets();
}

loadData();
</script>
