<template>
  <v-app>
    <TheNavigation />
    <default-view />
  </v-app>
</template>

<script setup>
import DefaultView from "./View.vue";
import TheNavigation from "@/components/TheNavigation.vue";
</script>
